/* App.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  --primary-color: #121212;
  --secondary-color: #1e1e1e;
  --background-color: #292A2D;
  --text-primary: #e3e3e3;
  --text-secondary: #949494;
  --accent-color: #2C6A91;
  --success-color: #34B234;
  --error-color: #C91D1D;
  --warning-color: #E8B130;
}

body.light {
  --primary-color: #e3e3e3;
  --secondary-color: #949494;
  --background-color: #ffffff;
  --text-primary: #121212;
  --text-secondary: #949494;
  --accent-color: #2C6A91;
  --success-color: #61D161;
  --error-color: #E23636;
  --warning-color: #EDC25E;
}

body.pink {
  --primary-color: #231633;
  --secondary-color: #403252;
  --background-color: #9B91A7;
  --text-primary: #e3e3e3;
  --text-secondary: #949494;
  --accent-color: #bb86fc;
  --success-color: #5EB234;
  --error-color: #C91D2B;
  --warning-color: #E8B130;
}
